*{

    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;align-items: center;
    padding: 20px;

    & section {
        width: 70%;

        column-count: 3;
        column-gap: 20px;

        & img{
            width: 100%;
            margin-bottom: 10px;
            margin-top: 10px;
        }

    }
    body img {
        /* width: 70%;
        height: 200px;
        margin-bottom: 10px;
        margin-top: 10px; */
        object-fit: cover;
        object-position: center;

    }


}

